.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.left-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  flex: 1;
  background-image: url('./images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-left-bg {
  height: 150px;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('./images/pattern-curve.svg');
  background-repeat: no-repeat;
}

.right-bg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.person-img {
  position: relative;
  border: 1px solid purple;
}

.arrow-container {
  display: flex;
  position: absolute;
  bottom: -30px;
  left: 50px;
  border: 1px solid red;
  width: 100px;
  height: 60px;
}

.arrow-container button {
  flex: 1;
}